<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>软件定制--订单</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dropzone.min.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/dropzone.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'user:index' %}" id="my_order">主页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li><a href="#">{{ user.username }}&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
                    <li><a href="{% url 'user:logout' %}">注销</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">订单列表</h3>
        </div>


        <div class="panel-body">


            <table class="table table-hover" style="margin-top:2px;">
                <thead>
                <tr>
                    {#                    <th>订单编号</th>#}
                    <th>订单状态</th>
                    <th>软件名称</th>
                    <th>软件描述</th>
                    <th>软件类别</th>
                    <th>处理</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>

        </div>
    </div>

    <div style="margin:0px;text-align:center;margin-top:0px;">
        <ul id="page" class="pagination" style="height:100px;">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">»</a></li>

        </ul>

    </div>


</div>


<script>

    var getting = {
        url: "{% url 'user:programer_order' %}",
        data: null,
        type: "post",
        dataType: "json",
        success: function (data) {
            $("#tbody").empty();
            for (key in data) {
                order = data[key];
                if (order.status == 0)
                    value = "等待接单...";
                else if (order.status == 1)
                    value = "已接单,等待完成...";
                else
                    value = "已完成";
                item1 = "<td>" + value + "</td>";
                item2 = "<td>" + order.soft_name + "</td>";
                item3 = "<td>" + order.desc + "</td>";
                item4 = "<td>" + order.desc + "</td>";
                item4 = "<td>" + order.category + "</td>";
                item5 = "<td>" + "<a href='#' onclick='achive_order(" + order.id + ")'>完成</a>" + "</td>";
                content = "<tr>" + item1 + item2 + item3 + item4 + item5 + "</tr>";
                $("#tbody").append(content);
            }
        }
    };
    window.setInterval(function () {
        $.ajax(getting)
    }, 1000);

    function achive_order(id) {
        $.ajax({
            url: "{% url 'user:achive_order' %}",
            data: {order_id: id},
            method: "post",
            dataType: "html",
            success: function (data) {
                alert("提交完成")
            }
        })
    }


</script>


</body>
</html>